@import 'mixin';
@import 'variabls';
@import 'animate.scss';

.container{
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/subheader';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/up';

@media (max-width: 1200px)
    {
        .container{
            max-width: 900px;
        }
    }

@media (max-width: 992px)
    {
        .container{
            max-width: 700px;
        }
    }

@media (max-width: 720px)
    {
        .container{
            max-width: 520px;
        }
    }

@media (max-width: 540px)
    {
        .container{
            width: 100vw;
        }
    }