.carousel{
    padding: 81px 0;
    &__inner{
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next{
        position: absolute;
        border: none;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        img{
            width: 31px;
            height: 50px;
        }
    }
    .slick-next{
        right: -66px;
        left: auto;
    }
}

@media (max-width: 992px)
{
    .carousel{
        &__inner{
            width: 600px;
            img{
                width: 600px;
            }
        }
    }
}

@media (max-width: 720px)
{
    .carousel{
        &__inner{
            width: 520px;
            img{
                width: 520px;
            }
        }
    }
}

@media (max-width: 520px)
{
    .carousel{
        &__inner{
            width: 100vw;
            img{
                width: 100vw;
            }
        }
    }
}