.consultation{
    min-height: 680px;
    background: url('../img/bg/Run_bg.jpeg') center (center/cover) no-repeat;
    padding: 100px 0px 92px 0;
    &__descrp{
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
        margin-top: 80px;
        
    }
}

@media (max-width: 720px)
{
    .consultation{
        &__descrp{
            text-align: center;
        }
    }
}

@media (max-width: 520px)
{
    .consultation{
        &__descrp{
            display: block;
            margin: 36px auto 0px;
            font-size: 18px;
            width: 300px;
        }
    }
}